{
    "useTabs": false,
    "tabWidth": 4,
    "singleQuote": true,
    "trailingComma": "es5",
    "arrowParens": "avoid",
    "printWidth": 100,
    "bracketSameLine": false,
    "bracketSpacing": true,
    "embeddedLanguageFormatting": "auto",
    "singleAttributePerLine": true,
    "plugins": [
        "prettier-plugin-svelte",
        "prettier-plugin-tailwindcss"
    ],
    "overrides": [
        {
            "files": "*.svelte",
            "options": {
                "parser": "svelte"
            }
        }
    ],
    "svelteAllowShorthand": true,
    "svelteBracketNewLine": true,
    "svelteIndentScriptAndStyle": false,
    "svelteStrictMode": true,
    "svelteSortOrder": "options-styles-markup-scripts"
}