@import url('https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@import '@fontsource/fira-mono';

:root {
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;

    box-sizing: border-box;

    --color-text: black;
    --color-text-highlight: rgb(255, 0, 89);
    --color-bg-frame: rgb(247, 247, 247);
    --color-bg: rgb(255, 255, 255);
    --color-bg-tile: rgb(255, 255, 255);
    --color-shadow: rgb(160, 160, 160);

    --border-radius: 0.25rem;
    --gap: 0.5rem;
    --shadow: var(--color-shadow) 0 0 var(--gap);
    --shadow: 0 0 var(--gap) var(--color-shadow);
}

[data-theme='light'] {
    --color-text: white;
    --color-text-highlight: crimson;
    --color-bg-frame: rgb(0, 0, 0);
    --color-bg: rgb(14, 14, 14);
    --color-shadow: rgb(255, 255, 255);
}

* {
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
}

a {
    color: var(--color-text-highlight);
}

a:hover, a:focus {
    color: var(--color-text-highlight);
    text-decoration: underline;
}