
html, body {
}
body {
font: 1.0em "Vollkorn", Palatino, Times;
font-weight: regular;
line-height: 1.4;
}


h1 {
margin-block: 1em;
font-weight: normal;
}
h2 {
    margin-block: 1em;
font-weight: normal;
}
h3 {
font-weight: normal;
font-style: italic;
margin-top:3em;
}
p {
margin-top:0;
hyphens:auto;
}



a {
text-decoration: none;
}
a:hover {
text-decoration: underline;
}


